.protected-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .nav-bar {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);

        ul {
            list-style: none;
        }
    }
}
